/*------------------------------------------------------------------------------------------*/


/* 1. Defaults & Reset of specific styles across browsers */


/*------------------------------------------------------------------------------------------*/

body {
    background: #696969;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 80%;
    margin: 0;
    padding: 0;
    min-width: 290px;
    height: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
li,
li p {
    margin: 0;
    padding: 0;

    /* list-style: none; */
}

p,
li,
blockquote {
    line-height: 1.4em;
    margin: 0;
}

a img {
    border: none;
}

iframe {
    border: 0;
}


/*------------------------------------------------------------------------------------------*/


/* 2. Global elements used throughout the landing page */


/*------------------------------------------------------------------------------------------*/

section {
    display: block;
}

article section,
.inner {
    margin: 0 auto;
    overflow: hidden;
}


/*------------------------------------------------------------------------------------------*/


/* 3. Styles used for fonts and headings */


/*------------------------------------------------------------------------------------------*/


/* 3.1 Fonts */

h1,
h2,
h3,
h5 {
    font-weight: normal;
}

h1 span,
h2 span,
h3 span {
    font-weight: 700;
}

h1 {
    font-family: 'Roboto', serif;
    font-size: 280%;
    color: #dd4632;
    margin: 0;
}

h2 {
    font-family: 'Roboto', serif;
    font-size: 220%;
    color: #dd4632;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Roboto', serif;
    font-size: 140%;
    color: #999;
    margin: -15px 0 25px 0;
}

h3.kt {
    color: #f18b2f;
    margin: 0px 0 15px 0;
}

h4 {
    font-family: 'Roboto', serif;
    font-size: 120%;
    font-weight: 700;
    margin: 0 0 5px 0;
}


/* 3.2 Headings */

#logo img {
    margin: 0 5px 0 0;
    float: left;
}


/*------------------------------------------------------------------------------------------*/


/* 4. Content blocks used to position content */


/*------------------------------------------------------------------------------------------*/

img {
    height: auto;
}

img,
object,
embed {
    /* max-width: 100%; */
}

img {
    -ms-interpolation-mode: bicubic;
}

/*------------------------------------------------------------------------------------------*/


/* 5. Landing page header and banner */


/*------------------------------------------------------------------------------------------*/


/* 5.1 Header */

#header {
    height: 150px;
    background-color: #333;
    padding: 40px 20px;
    margin: 0;
    position: relative;
}

.header--content {
    max-width: 1481px;
    margin: 0 auto;
}

#title {
    float: left;
    margin-top: -12px;
}

#title h1,
#title h3 {
    font-family: Oswald, PT Sans, Arial, serif;
    line-height: 1em;
    text-align: left;
    color: #FFF;
    margin: 0;
}

#title h1 {
    font-size: 4em;
}

#title h3 {
    font-size: 2em;
}

#logo {
    width: 158px;
    float: right;
    margin: 17px 0 0 0;
    position: relative;
}

#logo img {
    margin: 0;
    float: right;
}


/*------------------------------------------------------------------------------------------*/


/* 6. Content */


/*------------------------------------------------------------------------------------------*/

#main {
    background-color: #EEE;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main-row {
    width: 100%;
    max-width: 1481px;
    margin: 0 auto;
    padding: 0;
    background-color: #FFF;
    position: relative;
}

.main-row:last-child {
    padding-bottom: 2.5em;
}

/* Products */
.products-nav {
    padding: 0;
    height: 25px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.intro,
.products--container {
    width: 100%;
    max-width: 800px;
    height: auto;
    position: relative;
    flex: 0 1 50%;
}

.intro {
    padding: 20px 30px 0 30px;
    font-size: 1.3em;
}

.intro ul {
    margin: 20px;
}

.intro li {
    font-size: .9em;
    font-style: italic;
    line-height: 1.8em;
}

.image-wrap {
    width: 100%;
    max-height: 600px;
    /* max-width: 800px; */
    margin: 0 auto;
}

#drag-icon {
    background: url("../images/spin-icon.png") no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 100;
}

#drag-icon.disabled {
    display: none !important;
}

.image-container {
    position: relative;
    padding-bottom: 74.625%;
    height: 0px;
    overflow: hidden;
}

.image-container iframe,
.image-container object,
.image-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#btn-group {
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    background-color: #CCC;
    margin: 1px;
    padding: 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 0.8em;
    color: #333;
    border: none;
}

.btn:hover,
.btn.active {
    background-color: #999;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn:focus {
    outline: 0;
}

.product {
    display: none;
    animation: fadeEffect 1s;
    position: relative;
}

.active {
    display: inline-block;
}

.credit {
    color: #666;
    font-style: italic;
    position: absolute;
    bottom: -20px;
    right: 10px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*------------------------------------------------------------------------------------------*/


/* 8. Landing page footer */


/*------------------------------------------------------------------------------------------*/

#page_footer {
    height: 60px;
    padding: 15px 0;
    text-align: center;
    clear: both;
    font-size: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page_footer p {
    /* margin: 15px 0; */
}

#page_footer,
#page_footer a {
    color: #999;
    text-decoration: none;
}

#page_footer a:hover {
    color: #666;
}

#page_footer ul {
    margin: 0 auto;
}

#page_footer li {
    display: inline;
    margin: 0 5px 0 5px;
}

img {
    max-height: auto !important;
    max-width: auto !important;
}

/*------------------------------------------------------------------------------------------*/


/* 10. Responsive Styling JustLanded */


/*------------------------------------------------------------------------------------------*/
@media screen and (max-width: 980px) {
    #header {
        padding: 20px;
    }
}

@media screen and (min-width: 1240px) {
    .intro {
        flex: 0 1 40%;
    }

    .products--container {
        flex: 0 1 60%;
    }
}

@media screen and (min-width: 981px) and (max-width: 1005px) {}

@media screen and (max-width: 980px) {

    h2,
    h3 {
        text-align: center;
    }

    /*Header*/
    #logo {
        margin-bottom: 10px;
    }

    /*Quotes*/
    blockquote {
        margin-bottom: 25px;
    }

    .header--content {
        max-width: 100%;
    }

    #logo {
        position: absolute;
        top: 0px;
        right: 20px;
    }

    #logo img {
        margin-right: 10px;
    }

    #title {
        margin-top: 60px;
    }

    #title h1 {
        font-size: 3em;
    }

    #title h3 {
        font-size: 1.5em;
    }

    .products {
        display: block;
    }

    .main-row {
        max-width: 100%;
        padding: 0 20px;
    }

    .intro {
        padding: 20px 0 0 0;
    }

    #btn-group {
        right: 20px;
    }
}

@media screen and (max-width: 460px) {

    h2,
    h3 {
        text-align: center;
    }

    /*Quotes*/
    blockquote {
        margin-bottom: 25px;
    }

    #title {
        margin-top: 76px;
    }

    #title h1 {
        font-size: 2.2em;
    }

    #title h3 {
        font-size: 1em;
    }

    .intro {
        font-size: 1.1em;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 460px) {
    #main {
        display: block;
    }
}