html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    position: relative;
    display: block;
    top: 50%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#topContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#imageContainer {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 75%;
}

.image {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.imageInvisible {
    position: absolute;
    visibility: hidden;
}

.imageOpaque {
    position: absolute;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.imageVisible {
    position: absolute;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#hotspotcanvas {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 8;
    cursor: ew-resize;
    height: 100%;
}

#zoomContainer {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

#draggableContainer {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: move;
}

#logoContainer {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 11;
}

#logoContainer img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

#deepzoom {
    display: inline-block;
    color: #1390ff;
}

#topContainer:-webkit-full-screen {
    position: fixed;
    height: 100%;
    top: 0;
    background: none;
    background-color: #ffffff;
}

#topContainer:-moz-full-screen {
    position: fixed;
    height: 100%;
    top: 0;
    background: none;
    background-color: #ffffff;
}

#topContainer:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
    background-color: #ffffff;
}

#topContainer:fullscreen {
    position: fixed;
    height: 100%;
    top: 0;
    background: none;
    background-color: #ffffff;
}

#controllerContainer {
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#zoomin {
    width: 100vw !important;
    align-self: flex-start;
}

#exitZoomBtn {
    height: 25px;
    background-color: rgba(200, 200, 200, .5);
    margin-right: 5px;
    padding: 5px;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer !important;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#exitZoomBtn:hover {
    background-color: #999;
}

#zoomin,
#sliderContainer {
    flex: 0 1 33%;
}

#sliderContainer {
    width: 150px;
    height: 25px;
    background-color: rgba(200, 200, 200, .5);
    padding: 0px;
    border-radius: 5px;
    color: gray;
    flex: 0 1 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.minus,
.plus,
#slider-horizontal {
    flex: 0 1 auto;
}

#slider-horizontal {
    height: 10px !important;
    margin: 0 !important;
    flex: 0 1 85%;
}

.minus {
    font-size: 1.8em;
}

.plus {
    font-size: 1.3em;
    font-weight: bold;
}

.minus,
.plus {
    display: none;
}

.ui-slider,
.ui-slider-handle {
    width: 1em !important;
    height: 1em !important;
}

.ui-slider {
    background-color: #CCC !important;
    border-radius: 5px;
    border-top: #888 solid 1px !important;
    box-shadow: inset 2px 5px 6px #999;
}

.ui-slider-handle {
    height: 0.8em !important;
    background-color: #c5c5c5 !important;
    background-image: -webkit-radial-gradient(top left, #EEE 60%, #999) !important;
    border-radius: 50% !important;
    top: -.1em !important;
    cursor: pointer !important;
    outline: none;
    outline: none !important;
}

.ui-slider-handle:hover {
    background-color: #999 !important;
    background-image: -webkit-radial-gradient(top left, #CCC 60%, #666) !important;
}

.ui-widget-header {
    background: none !important;
    background-color: transparent !important;
}


.zoomin,
.zoomout {
    background-repeat: no-repeat !important;
}