#zoom-slider-container {
    width: 240px;
    height: 25px;
    padding: 0px;
    color: gray;
    position: relative;
    flex: 0 1 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.zoom-slider-minus {
    font-size: 1.8em;
    position: absolute;
    top: -6px;
    left: 2px;
}

.zoom-slider-plus {
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 4px;
}

.zoom-slider-slide-area {
    display: inline-block;
    background: rgba(238, 238, 238, .8);
    padding: 10px 20px;
    border-radius: 4px;
}

.zoom-slider-is-hoverable .zoom-slider-slide-area,
.zoom-slider-is-cursorable .zoom-slider-slide-area {
    cursor: pointer;
}

.zoom-slider-slide {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 1px;
    top: -1px;
}

.zoom-slider-slide-groove {
    position: absolute;
    left: 0;
    top: -1px;
    width: 200px;
    height: 2px;
}

.zoom-slider-bad-groove-only .zoom-slider-slide-groove {
    cursor: pointer;
}

.zoom-slider-slider {
    position: absolute;
    left: 0px;
    width: 16px;
    height: 16px;
}

.zoom-slider-handle {
    background-color: #999;
    background-image: -webkit-radial-gradient(top left, #CCC 60%, #999) !important;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: -6px;
    top: -5px;
}

.zoom-slider-slide-groove,
.zoom-slider-handle {
    background: #000;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.zoom-slider-is-hoverable .zoom-slider-slide-area:hover .zoom-slider-slide-groove,
.zoom-slider-is-hoverable .zoom-slider-slide-area:hover .zoom-slider-handle,
.zoom-slider-is-hoverable .zoom-slider-is-current .zoom-slider-slide-groove,
.zoom-slider-is-hoverable .zoom-slider-is-current .zoom-slider-handle {
    background: #666 !important;
    transition: none;
}

.zoom-slider-is-hoverable .zoom-slider-slide-area:hover .zoom-slider-handle,
.zoom-slider-is-hoverable .zoom-slider-is-current .zoom-slider-handle {
    background: rgb(0, 163, 204) !important;
    transition: none;
}